# Dependencies and build artifacts
/node_modules
/dist
/example
/
venv
streamlit_env

# Configuration and credentials
.env
google_credentials.json
models.yaml

# Data and model files
eng.traineddata
scripts

# System files
.DS_Store

/uploads
/data_images
updated-citation-prompt.txt
updated-data-extraction-prompt.txt
updated-issue-detection-prompt.txt
updated-file-classification-prompt.txt
